@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap')
	;

* {
	font-family: "IBM Plex Sans KR", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: #f9f9f9;
}

.container {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
	color: #526D82;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"],
	select {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #9DB2BF;
	border-radius: 5px;
}

.radio-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.radio-container input[type="radio"] {
	margin-right: 10px;
	display: none;
}

.radio-container label {
	color: #333333;
	font-weight: bold;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-right: 20px;
}

.radio-container label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #526D82;
	border-radius: 50%;
	background-color: #fff;
	transition: background-color 0.3s, border-color 0.3s;
}

.radio-container input[type="radio"]:checked+label:before {
	background-color: #526D82;
	border-color: #526D82;
}

#license-year-container {
	margin-top: -10px;
	margin-bottom: 20px;
}

button {
	background-color: #526D82;
	color: #ffffff;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #405A70;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
	margin-right: 10px;
}

.checkbox-container label {
	color: #333333;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
}

.container button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #526D82;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

/* 가입하기 버튼 호버 효과 */
.container button[type="submit"]:hover {
	background-color: #27374D;
}

.container p {
	color: tomato;
	margin-top: -10px;
}

#register > a {
	text-decoration: none;
	color: #526D82;;
}