<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>rentalcar-server</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet mapping -->

	<servlet>
		<servlet-name>UpdateBoardFormAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.UpdateBoardFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBoardFormAction</servlet-name>
		<url-pattern>/updateBoardFormAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.DeleteBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBoardAction</servlet-name>
		<url-pattern>/deleteBoard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.UpdateBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBoardAction</servlet-name>
		<url-pattern>/updateBoardAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReadBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.ReadBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadBoardAction</servlet-name>
		<url-pattern>/readAction</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>WriteBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.WriteBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteBoardAction</servlet-name>
		<url-pattern>/writeAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardAllFormAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.BoardAllFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardAllFormAction</servlet-name>
		<url-pattern>/boardAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.LogoutFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutFormAction</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.DeleteUserFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<url-pattern>/deleteAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.UpdateUserFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<url-pattern>/updateAction</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FindUserAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.FindUserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindUserAction</servlet-name>
		<url-pattern>/FindUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JoinFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.JoinFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinFormAction</servlet-name>
		<url-pattern>/joinAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.LoginFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginFormAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>
	<!-- JSP files mapping -->

	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/views/module/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/views/module/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>homeForm</servlet-name>
		<jsp-file>/views/common/homeForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homeForm</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/user/joinForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/user/loginForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myPage</servlet-name>
		<jsp-file>/views/user/myPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>myPage</servlet-name>
		<url-pattern>/myPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateUserForm</servlet-name>
		<jsp-file>/views/user/updateUserForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserForm</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteUserForm</servlet-name>
		<jsp-file>/views/user/deleteUserForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteUserForm</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>writeForm</servlet-name>
		<jsp-file>/views/board/writeForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeForm</servlet-name>
		<url-pattern>/write</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardForm</servlet-name>
		<jsp-file>/views/board/boardForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardForm</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailForm</servlet-name>
		<jsp-file>/views/board/detailForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailForm</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateBoardForm</servlet-name>
		<jsp-file>/views/board/updateBoardForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBoardForm</servlet-name>
		<url-pattern>/updateBoard</url-pattern>
	</servlet-mapping>

</web-app>